<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table id="dg" title="属性列表" class="easyui-datagrid" style="width:100%;height:100%"
       data-options="fitColumns:true,singleSelect:true,toolbar:'#tb'">
    <thead>
    <tr>
        <th data-options="field:'id',width:100">编码</th>
        <th data-options="field:'attrName',width:100">属性名称</th>
    </tr>
    </thead>
</table>

<div id="tb">
    <a href="javascript:addAttr()" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a>
    <a href="javascript:editAttr()" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">编辑</a>
    <a href="javascript:removeAttr()" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>
    <div>
        一级分类：<input id="ctg1ForAttrList" class="easyui-combobox" data-options="valueField:'id',textField:'name',url:'getBaseCatalog1List',
                onSelect: function(rec){
                    $('#ctg2ForSpuList').combobox('clear');
                    $('#ctg3ForSpuList').combobox('clear');
                    var url = 'getBaseCatalog2ListByCataLog1Id?id='+rec.id;
                    $('#ctg2ForAttrList').combobox('reload',url);
                    }" />
        二级分类：<input id="ctg2ForAttrList" class="easyui-combobox" data-options="valueField:'id',textField:'name',
                onSelect: function(rec){
                    $('#ctg3ForSpuList').combobox('clear');
                    var url = 'getBaseCatalog3ListByCataLog2Id?id='+rec.id;
                    $('#ctg3ForAttrList').combobox('reload',url);
                    }" />
        三级分类：<input id="ctg3ForAttrList" class="easyui-combobox" data-options="valueField:'id',textField:'name'" />
        <a href="javascript:reloadAttrList()" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width:120px">
            刷新属性列表
        </a>
    </div>
</div>
    <div th:include="attrInfoPage"></div>
<script language="JavaScript">
    function reloadAttrList() {
        var ctg3Id =  $("#ctg3ForAttrList").combobox("getValue");

        if(ctg3Id){
            $("#dg").datagrid({
                url:"getBaseAttrInfo?id="+ctg3Id
            });
        }else{
            alert("请选择三级分类id");
        }
    }
    function addAttr(){
        var ctg3Id = $("#ctg3ForAttrList").combobox("getValue");
        if(ctg3Id){
            $("#dlg").dialog("open");
            //清空attrName
            $("#attrName").textbox("setText","");
            initAttrValueDatagrid();
            //防止用户选择了属性后点击新建从而导致跳转至update选项
            $("#dg").datagrid("unselectAll");
        }else{
            alert("请选择三级分类");
        }
    }
    function editAttr(){
        var ctg3Id = $("#ctg3ForAttrList").combobox("getValue");
        var attrInfo = $("#dg").datagrid("getSelected");
        if(ctg3Id&&attrInfo){
            $("#dlg").dialog("open");
            initAttrValueDatagrid(attrInfo);
            $("#dg").datagrid("unselectAll");
        }else{
            alert("请选择三级分类和属性");
        }
    }
    function removeAttr(){
        var ctg3Id = $("#ctg3ForAttrList").combobox("getValue");
        var attrInfo = $("#dg").datagrid("getSelected");
        var id = attrInfo.id;
        var idJson = {
            attrId:id
        };
        if(id){
            $.post("removeAttrInfo",idJson,function(data){
                if(data="success"){
                    alert("success");
                    reloadAttrList();
                }else{
                    alert(data);
                }
            });

        }else{
            alert("请选择属性");
        }
    }

</script>
</body>
</html>